.right-sidebar{
  width: 350px;
  font-size: 15px;
  float: right;
}

.widget{
  box-shadow: 3px 3px 10px rgb(0 0 0 /5%),
  -3px -3px 10px rgb(0 0 0 /5%);
}

.widget h4{
  background-color: rgb(250,243,212);
  margin: 0%;
  padding: 20px 20px;
  border: solid 1px rgb(241,228,189);
}

.right-sidebar-div-1{
  padding: 10px 20px;
  background-color: rgb(253,247,226);
  border: solid 1px rgb(241,228,189);
}

.right-sidebar-div-1 .right-sidebar-div-2{
  display: flex;
  align-items: flex-start;
}

.right-sidebar-div-1 .right-sidebar-div-2 p{
  padding-left: 10px;
  margin-top: 0%;
}

.widget-tags{
  margin-top: 40px;
  box-shadow: 3px 3px 10px rgb(0 0 0 /5%),
  -3px -3px 10px rgb(0 0 0 /5%);
}

.widget-tags h4{
  margin: 0;
  padding: 15px;
  background-color: rgb(249,249,248);
  border: solid 1px #e3e6e8;
}

.widget-tags-div{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
  border: solid 1px #e3e6e8;
  padding: 10px;
}

.widget-tags-div p{
  padding: 5px;
  background-color: #e1ecf4;
  color: #39739d;
  border-radius: 2px;
}