.left-sidebar{
  height: 100%;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  font-size: 15px;
  padding-top: 20px;
}

.side-nav{
  height: auto; 
  max-width: 100%;
}

.side-nav-div{
  padding: 10px 0px;
}

.side-nav-div div{
  padding-left: 10px;
}

.side-nav-links{
  text-decoration: none;
  color: #3a3a3a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left:10px;
  transition: 0.2s;
}

.side-nav-links p{
  cursor: pointer;
}

.active{
  font-weight: bolder;
  color: black;
  background-color: rgba(225, 225, 225);
  border-right: solid 3px #ef8236;
}
.activeSidebar{
  position: sticky;
  width: 220px;
  height: 100vh;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: rgb(255,255,255);
  box-sizing: border-box;
  font-size: 15px;
  padding-top: 20px;
}

@media only screen and (max-width: 750px){
  .left-sidebar{
    display: none;
  }
}

