.home-container{
  max-width: 1380px;
  min-height: 100vh;
  margin: auto;
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}
.home-container-1{
  width: 164px;
}

.home-container-2{
  width: calc(100%);
  padding: 20px;
  
}