.home-container{
  min-height: 100vh;
  margin: auto;
  margin-top: 58px;
  display: flex;
  justify-content: space-between;
}
.home-container-1{
  width: 164px;
}

.home-container-2{
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  padding-right: 0;
}

@media only screen and (max-width: 750px){
  .home-container-1{
    width: 0;
  }
}

@media only screen and (min-width: 1250px){
  .home-container{
    margin-left: 100px;
    margin-right: 100px;
  }
}