.main-nav{
  width: 100%;
  min-height: 55px;
  border-top: solid 3px #ef8236;
  box-shadow: 0px 1px 5px #00000033;
  position: fixed;
  top: 0%;
  left: 0%;
  background-color: #f8f9f9;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navbar-1{
  display: flex;
  align-items: center;
}

.navbar-1 .menu-option-btn{
  display: none;
}

.navbar-1 .navlink{
  text-decoration: none;
  transition: 0.2s;
  padding: 10px 20px;
  border-radius: 40px;
  font-weight: 500;
}

.navbar-1 .navlink-logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: 0.2s;
  padding: 10px 25px;
}

.navbar-1 .logo-text{
  color: black;
  font-size: 20px;
}

.navbar-1 p{
  margin: 0;
  color: rgb(69, 69, 69);
  cursor: pointer;
}

.navbar-1 .navlink:hover, .navbar-1 .navlink-logo:hover{
  background-color: rgb(226, 226, 226);
}

.navbar-2{
  position: relative;
  flex-grow: 1;
}

.navbar-2 input{
  padding: 8px 40px;
  width: 70%;
  font-size: 13px;
  border: 1px solid #0000003e;
  border-radius: 5px;
  min-width: 150px;
}
.navbar-2 .serach-icon{
  position: absolute;
  font-size: 20px;
  color: rgb(138,147,157);
  left: 10px;
  top: 8px;
  cursor: pointer;
}

.navbar-3{
padding: 0px 20px 0px 0px;
}

.navbar-3 .login-btn{
  width: 90px;
  cursor: pointer;
  background-color: rgb(231,249,255);
  border: 1px solid blue;
  border-radius: 5px;
  padding: 10px 20px;
}

.navbar-3 .log-out-box{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
} 





/* @media only screen and (min-width: 800px) and (max-width: 1240px){ */
@media only screen and (min-width: 1250px){
  .navbar-1{
    margin-left: 100px;
  }

  .navbar-3{
    margin-right: 100px;
  }
}

@media only screen and (max-width: 944px){
  .navbar-1 .hide{
    display: none;
  }
}


/* SMALL */
@media only screen and (max-width: 750px){
  .navbar-1{
    flex-grow: 1;
  }
  .navbar-1 .menu-option-btn{
    display: inline;
  }
  .navbar-1 .navlink-logo{
    padding: 0 10px;
  }
  .navbar-1 .logo-text{
    display: none;
  }
  .navbar-2{
    display: flex;
    align-items: center;
    flex-grow: unset;
  }
  .navbar-2 .serach-icon{
    position: static;
    font-size: 25px;
  }

  .navbar-2 input{
    display: none;
  }
}